apiVersion: v1
kind: Secret
metadata:
  name: inveniordm-s3-credentials
  namespace: inveniordm
type: Opaque
stringData:
  INVENIO_S3_ACCESS_KEY_ID: "REPLACE_WITH_AWS_ACCESS_KEY"
  INVENIO_S3_SECRET_ACCESS_KEY: "REPLACE_WITH_AWS_SECRET_KEY"
  INVENIO_S3_ENDPOINT_URL: ""
  INVENIO_S3_REGION_NAME: "us-east-1"
